@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-BoldItalic.woff2') format('woff2'),
  url('../fonts/Lora-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Italic.woff2') format('woff2'),
  url('../fonts/Lora-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.woff2') format('woff2'),
  url('../fonts/Lora-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
  url('../fonts/Lora-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
